node_modules/
.next/
out/
build/
!scripts/build/
.pnpm-store/
next-env.d.ts
*.tsbuildinfo

.env*.local
.DS_Store
*.log
coverage/
.vercel
.env*

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
